/* .powered {
    background-color: yellow;
    border-radius: 10px;
}
.bordered {
    border: 5px solid red;
}
.colored {
    background-color: green;
} */
#root {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.card {
    background-color: pink;
    color: brown;
    width: 350px;
    height: 100px;
    display: grid;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}
